<ion-content class="form-content forget-pass">
  <form class="form-wrapper">
    <!-- logo-image -->
    <img src="assets/icon/logo.png" class="logo-img">
    <h6>Enter email address we will send you link to change password ?</h6>
    <ion-item>
      <ion-input type="email" placeholder="Email Address" name="email" [(ngModel)]="email"></ion-input>
      <ion-icon item-left name="mail"></ion-icon>
    </ion-item>

    <button ion-button block class="submit-btn" type="button"(click)="reqPassword()" [disabled]="!email">Submit</button>
  </form>
  <br>
  <ion-row class="divider">
    <ion-col><hr></ion-col>
    <ion-col col-2>Or</ion-col>
    <ion-col><hr></ion-col>
  </ion-row>
  <div class="goto-btn-wrapper">
  	<button ion-button block class="goto-btn" (click)="goToLogin()" type="submit">Go to Log in</button>
  </div>

</ion-content>
