<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="form-content">
    <ion-content class="form-content">
        <form class="form-wrapper" [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <!-- logo-image -->
          <img src="assets/icon/logo.png" class="logo-img">
      
          <ion-item>
            <ion-input type="email" formControlName="email" placeholder="Email" required></ion-input>
            <ion-icon item-left name="mail"></ion-icon>
          </ion-item>
      
          <ion-item>
            <ion-input type="password" formControlName="password" placeholder="Password" required show-hide-input></ion-input>
            <ion-icon item-left name="lock"></ion-icon>
          </ion-item>
      
          <button ion-button block class="submit-btn" type="submit" [disabled]="!loginForm.valid">Log in
          </button>
        </form>
      
        <ion-row class="alt-options">
          <ion-col no-padding col-6>
            <button ion-button block clear (click)="goToForgotPassword()">Forgot Password?</button>
          </ion-col>
          <ion-col no-padding col-6 text-right>
            <button ion-button block clear (click)="goToSignup()">Sign up!</button>
          </ion-col>
        </ion-row>
    

</ion-content>